<div class="container">
	<h1>О задании</h1>
	<h4>Завдання вирішено з використанням наступних технологій:</h4>
		<p>Front-End: AngularJS, JS, HTML5, CSS3.</p>
		 
		<br>
		Використовуються: ui-router, ng-animate, nglocalstorage;
		<hr>
		Получается, что picasa api не поддерживает авторизированные, клиентские, запросы! 
		Так как сервер не возвращает заголовок Access-Control-Allow-Origin в ответ на запрос с заголовками origin и Authorization!
		Правильно будет реализовывать серверную авторизацию! Здесь сделал через php прокси скрипт, 
		но это не совсем правильно! Так как, приходится token авторизации передавать в url запроса!  
		<hr>
		Виконав: Пономарьов Євген Юрійович!
		
		<a ui-sref="albums({autorId: '115446764672312961800'})">Моя сторінка</a>
	
</div>