<div class="container">
   ewqrwerew
    <div class="row list-group">
        
		<div class="album  col-xs-11 col-sm-4 col-lg-4" endless-scroll = "item in album.photos">
            <div  class="thumbnail">
                <img class="group" ng-src="{{item.media$group.media$thumbnail[2].url}}" alt="Зображення відсутнє" />
				
				<div class="hover">
					<p style="color: #fff"><strong>Опис:{{item.text}}</strong></p>
                    <p>Додана: {{ item.published.$t | date : short : timezone }} </p>
                </div>
									
				<div class="caption">
                    <h4>{{item.title.$t}}</h4>
				</div>

            </div>
        </div>
		
				
        
    </div>
</div>

