<div class="container" style="margin-top:25px 0 0 0;">
		<img style="height:40px; border-radius:5px;" ng-src="{{userAlbums.author.icon.$t}}" alt="Зображення відсутнє" />
		<h3 style="display:inline-block; color:#52b6ec;">Альбоми пользователя {{userAlbums.author.author[0].name.$t}}</h3>
		<button type="button" class="btn btn-info glyphicon glyphicon-plus" ui-sref = "albums.add({autorId: userAlbums.author.gphoto$user.$t})" ng-show="userAlbums.isAddButton()"></button>
    
	<div  class="container" style="margin-top:25px;">
				
		<div endless-scroll = "item in userAlbums.albums" class="row albums" ng-class="{'hide1 disabled' : item.hide == 'hide'}">
			
			<div class="col-xs-3">
					<img ng-src="{{item.media$group.media$thumbnail[0].url}}" alt="Зображення відсутнє" />
					<div style="margin:auto; font-size:10px;">{{item.title.$t}}</div>
			</div>			
																				
			<div class="col-xs-8">	

				<h5 class="text-primary">{{item.media$group.media$title.$t}}</h5>
				<p class="small opus">Описание альбома: {{item.media$group.media$description.$t}}</p>
				<div class="text-muted date-info">
					<div>Cтворений: {{ item.published.$t | date : short : timezone}}</div>
					<div>Оновлений:{{ item.updated.$t | date : short : timezone}}</div>
				</div>
			
			</div>	
			
			
			
				<div ng-click = "userAlbums.deleAlbum(item.gphoto$user.$t, item.gphoto$id.$t, item)" class="transit label label-danger link" ng-show="userAlbums.isAddButton(item)" style="position:absolute; right:60px; bottom:10px; height:10px; margin:0; padding:0 2px; position:9999999;"> 
					<span class="glyphicon glyphicon-minus"> </span>
				</div>
						
				<span ng-click = "userAlbums.openAutor(item.gphoto$user.$t, $event)" class="transit label label-info link" style="position:absolute; right:80px; bottom:10px;"> {{ userAlbums.author.author[0].name.$t}}</span>
				<span ng-show = "item.gphoto$access.$t === 'public'" class="label label-success glyphicon glyphicon-eye-open" style="position:absolute; right:40px; top:5px;"> </span>
				<span ng-show = "item.gphoto$access.$t === 'protected'" class="label label-danger glyphicon glyphicon-eye-close" style="position:absolute; right:40px; top:5px;"> </span>
				<span ng-show = "item.gphoto$access.$t === 'private'" class="label label-warning glyphicon glyphicon-eye-close" style="position:absolute; right:40px; top:5px;"> </span>
			
				<span class="label label-default" style="position:absolute; right:10px;">{{item.gphoto$numphotos.$t}}</span>
			
						
			<div class="transit col-xs-1" style="padding:0; position:absolute; top:10%; bottom:10%; right: 0%;">
				<a style="display:inline-block; position:absolute; margin-top:-10px; top:50%; right: 10%;" ui-sref="album({autorId: item.gphoto$user.$t, albumId: item.gphoto$id.$t})">
					<span class="perehod glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>
	
		</div>					

				
	</div>
	
	<div ui-view="panel" class="panel"></div>
	
</div>

		
		
        
  


